/* CSS Reset */

  /* 1. Use a more-intuitive box-sizing model. */
  *, *::before, *::after {
      box-sizing: border-box;
    }

  /* 2. Remove default margin */
    * {
      margin: 0;
    }
  
  /* Typographic tweaks! */
    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      font-family: Arial, Helvetica, sans-serif;
    }

  /* 5. Improve media defaults */
    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }

  /* 6. Remove built-in form typography styles */
    input, button, textarea, select {
      font: inherit;
    }

  /* 7. Avoid text overflows */
    p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
    }
  
  /* 8. Create a root stacking context */
    #root, #__next {
      isolation: isolate;
    }

/* Form styling */

.content-container {
    background-color: rgb(235, 235, 235);
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 37% 1fr;
    grid-template-rows: 30% 1fr;
}

.side-image {
    grid-column: 1;
    height: 100vh;
    width: 100%;
    background-image: url('img/clement-m-igX2deuD9lc-unsplash.jpg');
    background-size: cover;
}

.logo {
    position: relative;
    background-color: white;
    top: 85px;
    height: 17.5vh;
    opacity: 0.5;
    padding: 15px 0;
}

.logo > img {
    width: 50px;
    margin: auto;
}

.tag-line {
    width: 100%;
    text-align: center;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: grey;
}

.credit > a {
    text-decoration: none;
    color: grey;
}

.info {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    padding: 10px 10px 10px 40px;
    align-self: center;
}

.form-container {
    grid-column: 2;
    grid-row: 2;
    height: 45vh;
    background-color: white;
    align-self: start;
    box-shadow: 1px 5px 10px lightgrey;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

form > label {
    margin-top: 15px;
    font-size: 10px;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

label > input {
    border: solid lightgrey 1px;
    padding: 5px;
    font-size: 16px;
    font-weight: 100;
    width: 70%;
    border-radius: 6px;
}

#first-name, #email, #password {
    display: block;
    grid-column: 1;
}

#last-name, #phone-number, #password-confirm {
    display: block;
    grid-column: 2;
}

.submit {
    grid-column: 1;
    min-width: 50%;
    justify-self: start;
    margin-top: 20px;
    padding: 5px;
    border: solid rgb(85, 126, 85) 1px;
    color: white;
    background-color: rgb(85, 126, 85);
    border-radius: 4px;
    box-shadow: 5px 5px 5px lightgrey;
}

input:focus {
    border: solid blue 1px;
    box-shadow: 0 0 10px blue;
}

input:focus:invalid {
    border: solid red 1px;
    box-shadow: 0 0 10px red;
}